.pantun-container {
    background-color:#e0f7fa;
}


.pantun-container h1 {
    color: rgb(26, 149, 157);
    font-size: x-large;
}

.pantun-container h2 {
    color: rgb(26, 149, 157);
    font-size: large;
    text-align: center;
}

.pantun-container p {
    background-color: rgb(195, 227, 240);
    color: rgb(0, 0, 0);
    font-size: medium;
}

.objective-list {
  background-color: rgb(195, 227, 240); 
  list-style-type: disc;
  padding-left: 1.5rem; /* indentation */
}

.objective-list li {
  line-height: 1.5;
}

.objective-list h3 {
    font-weight: bold;
    font-style: oblique;
}