.carousel-container {
  width: 100%;
  height: 100%;       /* Take full height of parent */
  display: flex;      /* Center image nicely */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain;   /* No cropping */
}
