.Home_Frame {
    background-color: #f0f8ff;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    padding: 0.5rem;
    flex: 5;
    color: rgb(0, 0, 0);
}

.Home_WelcomeCard {
  background-color: #dbeeff;
  flex: 6;
  padding: 0.5rem;
  border-radius: 6px;
  margin-right: 0.5rem;

  display: flex;
  flex-direction: column;
}

.Home_RegLogCard {
    background-color: #dbeeff;
    flex: 2;
    padding: 0.5rem;
    border-radius: 6px;
}

.Home_RegLogCard input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 12px;
  border: none;
  background: #f0fdf4; /* soft green */
  outline: none;
  font-size: 1rem;
  margin-bottom: 0.8rem;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.05);
}

.Home_RegLogCard input:focus {
  background: #dcfce7;
  box-shadow: 0 0 0 3px rgba(52, 211, 153, 0.3);
}


.Home_RegLogCard button {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #4a90e2;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}


.Home_ImageGallery {
  flex: 1;     /* Carousel fills the remaining space */
  display: flex;
}

.Home_ImageGallery img {
  flex-shrink: 0;
  border-radius: 10px;
}

.Home_WelcomeImage {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 0.5rem;
}

/* Carousel wrapper */
.AutoCarousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

/* Each image inside carousel */
.AutoCarousel img {
  width: 100%;
  height: 100%;
  object-fit: contain;   /* IMPORTANT: avoid cropping */
  border-radius: 10px;
}
