.Home_Frame {
    background-color: #f0f8ff;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    padding: 0.5rem;
    flex: 5;
    color: rgb(0, 0, 0);
}

.Home_WelcomeCard {
    background-color: #dbeeff;
    flex: 6;
    padding: 0.5rem;
    border-radius: 6px;
    margin-right: 0.5rem;
}

.Home_RegLogCard {
    background-color: #dbeeff;
    flex: 2;
    padding: 0.5rem;
    border-radius: 6px;
}