.PantunRater_Frame {
    background-color: #94fad8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0.5rem;
    flex: 5;
    color: rgb(0, 0, 0);
}


.PantunRater_Frame p {
    box-sizing: border-box;
    color: royalblue;
    
}

.PantunRater_Frame h2,
.PantunRater_Frame h3 {
    font-size: large;
    box-sizing: border-box;
}
