.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0px 15px 40px rgba(0,0,0,0.3);
}

.modal-box input {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.cancel-btn {
  background: #ccc;
}
