/* src/index.css */

@import "tailwindcss";

/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body { 
  margin: 0;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 1000;

  background-color: #315293;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}


.i-pantun-title {
  font-size: 2.5rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%; 
  display: flex;
  align-items: center;
  padding: .25rem;
}

/* Add this at the bottom of src/index.css */

.main-nav {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.main-nav li.active {
  background-color: #2082a8;
  border-radius: 0.25rem;
}

.main-nav li:hover {
  background-color: #56bac3;
}


/* ============================= */
/* Disabled / Locked Navbar Item */
/* ============================= */

/* Normalize disabled nav items to match links */
.nav-item span {
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

/* Disabled state */
.nav-disabled {
  color: #aaa;
  cursor: not-allowed;
}

/* Prevent hover highlight on disabled items */
.nav-disabled:hover {
  background-color: transparent;
}

