/* src/index.css */

@import "tailwindcss";

/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body { 
  margin: 0;
}

.nav {
  background-color: #315293;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.i-pantun-title {
  font-size: 2.5rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%; 
  display: flex;
  align-items: center;
  padding: .25rem;
}

/* Add this at the bottom of src/index.css */

.nav li.active {
  background-color: #2082a8; /* “sunk” color for the current page */
  border-radius: 0.25rem; /* optional for rounded edges */
}


.nav li:hover {
  background-color: #777;
}

